@model fugaz_retro.Models.Pedido

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tbl">
    <h1>Crear Pedido</h1>
    <div class="container">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="IdCliente" class="control-label">Nombre Cliente</label>
                        <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                    </div>

                  @*   <div class="form-group">
                        <label asp-for="Estado" class="control-label">Estado</label>
                        <select asp-for="Estado" class="form-control">
                            <option value="">Seleccionar Estado</option>
                            <option value="En proceso">En proceso</option>
                             <option value="Enviado">Enviado</option>
                         </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div> *@

                    <div class="form-group">
                        <label asp-for="MetodoPago" class="control-label">Método de Pago</label>
                        <select asp-for="MetodoPago" class="form-control" id="MetodoPago">
                            <option value="">Selecciona</option>
                            <option value="Efectivo">Efectivo</option>
                            <option value="Transferencia">Transferencia</option>
                        </select>
                        <span asp-validation-for="MetodoPago" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="tipoTransferenciaDiv" style="display: none;">
                        <label asp-for="TipoTransferencia" class="control-label">Tipo de Transferencia</label>
                        <select asp-for="TipoTransferencia" class="form-control" id="TipoTransferencia" name="TipoTransferencia">
                            <option value="">Tipo de Transferencia</option>
                            <option value="Nequi">Nequi</option>
                            <option value="Bancolombia">Bancolombia</option>
                            <option value="Daviplata">Daviplata</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Ciudad" class="control-label">Ciudad</label>
                        <select asp-for="Ciudad" class="form-control" asp-items="@(new SelectList(ViewBag.Ciudades))" id="CiudadSelect">
                            <option value="">Selecciona una ciudad</option>
                        </select>
                        <span asp-validation-for="Ciudad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label">Direccion</label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaPedido" class="control-label">Fecha del Pedido</label>
                        <input asp-for="FechaPedido" class="form-control" />
                        <span asp-validation-for="FechaPedido" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaEntrega" class="control-label">Fecha de Entrega</label>
                        <input asp-for="FechaEntrega" class="form-control" />
                        <span asp-validation-for="FechaEntrega" class="text-danger"></span>
                        <span id="FechaEntregaError" class="text-danger" style="display: none;">La fecha de entrega debe ser posterior a la fecha del pedido.</span>
                    </div>
                </div>
                <h4>Detalles del Pedido</h4>
                <table class="table" id="detallePedidosTable">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Talla</th>
                            <th>Color</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control" id="detalleProductoSelect">
                                    <option value="">Seleccionar Producto</option>
                                    @foreach (var item in ViewBag.DetalleProductosNombre)
                                    {
                                        if (item.Value != null && item.Text != null)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td><input type="text" class="form-control" id="precioProducto" readonly /></td>
                            <td>
                                <select class="form-control" id="tallaProducto">
                                    <option value="">Seleccionar Talla</option>
                                    @foreach (var item in ViewBag.DetalleProductosTalla)
                                    {
                                        if (!string.IsNullOrEmpty(item.Value) && !string.IsNullOrEmpty(item.Text))
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select class="form-control" id="colorProducto">
                                    <option value="">Seleccionar Color</option>
                                    @foreach (var item in ViewBag.DetalleProductosColor)
                                    {
                                        if (!string.IsNullOrEmpty(item.Value) && !string.IsNullOrEmpty(item.Text))
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td><input type="number" class="form-control" id="cantidadProducto" /></td>
                            <td><input type="text" class="form-control" id="subtotalProducto" readonly /></td>
                            <td><button type="button" class="btn btn-primary" onclick="addDetallePedido()">Añadir</button></td>
                        </tr>
                    </tbody>
                </table>
                <div id="detallesPedidosHidden"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="CostoPedido" class="control-label">Costo del Pedido</label>
                        <input asp-for="CostoPedido" id="CostoPedido" class="form-control" readonly />
                        <span asp-validation-for="CostoPedido" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CostoEnvio" class="control-label">Costo de Envío</label>
                        <input asp-for="CostoEnvio" id="CostoEnvio" class="form-control" readonly />
                        <span asp-validation-for="CostoEnvio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Iva" class="control-label">IVA</label>
                        <input asp-for="Iva" id="Iva" class="form-control" readonly />
                        <span asp-validation-for="Iva" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Descuento" class="control-label">Descuento</label>
                        <input asp-for="Descuento" id="Descuento" class="form-control" />
                        <span asp-validation-for="Descuento" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TotalPedido" class="control-label">Total del Pedido</label>
                        <input asp-for="TotalPedido" id="TotalPedido" class="form-control" readonly />
                        <span asp-validation-for="TotalPedido" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="comprobantePagoDiv">
                        <label for="comprobantePago" class="control-label">Comprobante de Pago</label>
                        <input type="file" name="comprobantePago" id="comprobantePago" class="form-control" />
                        <span asp-validation-for="ComprobantePago" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="imgproduct" id="FotoPreview" src="#" alt="Comprobante de Pago" />
                </div>
                <style>
                    .form-group-botones {
                        margin-top: 20px;
                        margin-right: 10px;
                    }
                </style>

                <div class="form-group-botones">
                    <button type="submit" class="btn btn-success">Crear</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $.getJSON('/Pedidos/GetProductNames', function (data) {
                if (data) {
                    var productSelect = $('#detalleProductoSelect');
                    productSelect.empty();
                    productSelect.append('<option value="">Seleccionar Producto</option>');
                    $.each(data, function (index, item) {
                        productSelect.append(`<option value="${item.idProducto}">${item.nombreProducto}</option>`);
                    });
                }
            });

            $('#MetodoPago').change(function () {
                var selectedValue = $(this).val();
                if (selectedValue === 'Transferencia') {
                    $('#tipoTransferenciaDiv').show();
                    $('#comprobantePagoDiv').show();
                } else {
                    $('#tipoTransferenciaDiv').hide();
                    $('#comprobantePagoDiv').hide();
                }
            });

            $('#detalleProductoSelect').change(function () {
                var idProducto = $(this).val();
                if (idProducto) {
                    $.getJSON('/Pedidos/GetProductDetails', { idProducto: idProducto }, function (data) {
                        if (data.success) {
                            $('#precioProducto').val(data.details.precioVenta);
                            var tallaSelect = $('#tallaProducto');
                            tallaSelect.empty();
                            tallaSelect.append('<option value="">Seleccionar Talla</option>');
                            $.each(data.details.detalles, function (index, item) {
                                if (item.talla) {
                                    tallaSelect.append(`<option value="${item.talla}">${item.talla}</option>`);
                                }
                            });

                            var colorSelect = $('#colorProducto');
                            colorSelect.empty();
                            colorSelect.append('<option value="">Seleccionar Color</option>');
                            $.each(data.details.detalles, function (index, item) {
                                if (item.color) {
                                    colorSelect.append(`<option value="${item.color}">${item.color}</option>`);
                                }
                            });
                        }
                    });
                } else {
                    $('#precioProducto').val('');
                    $('#tallaProducto').empty().append('<option value="">Seleccionar Talla</option>');
                    $('#colorProducto').empty().append('<option value="">Seleccionar Color</option>');
                }
            });

            $('#cantidadProducto').on('input', function () {
                var precio = parseFloat($('#precioProducto').val());
                var cantidad = parseInt($(this).val());
                if (!isNaN(precio) && !isNaN(cantidad) && cantidad > 0) {
                    var subtotal = precio * cantidad;
                    $('#subtotalProducto').val(subtotal.toFixed(2));
                } else {
                    $('#subtotalProducto').val('');
                }
            });

            $('#FechaPedido, #FechaEntrega').change(function () {
                validarFechas();
            });

            function validarFechas() {
                var fechaPedido = new Date($('#FechaPedido').val());
                var fechaEntrega = new Date($('#FechaEntrega').val());
                if (fechaEntrega <= fechaPedido) {
                    $('#FechaEntregaError').show();
                } else {
                    $('#FechaEntregaError').hide();
                }
            }

            validarFechas();

            $('input[type="file"]').change(function (e) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#comprobantePreview').attr('src', e.target.result).show();
                }
                reader.readAsDataURL(this.files[0]);
            });
        });

        function addDetallePedido() {
            var idDetalleProducto = $('#detalleProductoSelect').val();
            var nombreProducto = $('#detalleProductoSelect option:selected').text();
            var precio = $('#precioProducto').val();
            var talla = $('#tallaProducto').val();
            var color = $('#colorProducto').val();
            var idDetalleInsumo = $('#detalleInsumoSelect').val();
            var nombreDetalleInsumo = $('#detalleInsumoSelect option:selected').text();
            var cantidad = $('#cantidadProducto').val();
            var subtotal = $('#subtotalProducto').val();

            if (idDetalleProducto && cantidad && subtotal) {
                var index = $('#detallePedidosTable tbody tr').length - 1;
                var detalleHtml = `
                                                                                <tr>
                                                                                    <td>${nombreProducto}</td>
                                                                                    <td>${precio}</td>
                                                                                    <td>${talla}</td>
                                                                                    <td>${color}</td>
                                                                                    <td class="d-none">${nombreDetalleInsumo}</td>
                                                                                    <td>${cantidad}</td>
                                                                                    <td>${subtotal}</td>
                                                                                    <td><button type="button" class="btn btn-danger" onclick="removeDetallePedido(this)">Eliminar</button></td>
                                                                                </tr>
                                                                                    <input type="hidden" name="detallesPedido[${index}].IdDetalleProducto" value="${idDetalleProducto}" />
                                                                                    <input type="hidden" name="detallesPedido[${index}].Precio" value="${precio}" />
                                                                                    <input type="hidden" name="detallesPedido[${index}].Talla" value="${talla}" />
                                                                                    <input type="hidden" name="detallesPedido[${index}].Color" value="${color}" />
                                                                                            <input class="d-none" type="hidden" name="detallesPedido[${index}].IdDetalleInsumo" value="${idDetalleInsumo}" />
                                                                                    <input type="hidden" name="detallesPedido[${index}].Cantidad" value="${cantidad}" />
                                                                                    <input type="hidden" name="detallesPedido[${index}].Subtotal" value="${subtotal}" />

                                                                            `;
                // $('#detallesPedidosHidden').append(detalleHtml);
                $('#detallePedidosTable tbody').append(detalleHtml);
                clearDetalleForm();
                calcularTotalPedido();
            } else {
                alert('Por favor, complete todos los campos del detalle del pedido.');
            }
        }

        function removeDetallePedido(button) {
            $(button).closest('tr').remove();
            calcularTotalPedido();
        }

        function clearDetalleForm() {
            $('#detalleProductoSelect').val('');
            $('#precioProducto').val('');
            $('#tallaProducto').empty().append('<option value="">Seleccionar Talla</option>');
            $('#colorProducto').empty().append('<option value="">Seleccionar Color</option>');
            $('#detalleInsumoSelect').val('');
            $('#cantidadProducto').val('');
            $('#subtotalProducto').val('');
        }

        function calcularTotalPedido() {
            var totalSubtotales = 0;
            $('#detallePedidosTable tbody tr').each(function () {
                var subtotal = parseFloat($(this).find('td:eq(6)').text());
                if (!isNaN(subtotal)) {
                    totalSubtotales += subtotal;
                }
            });

            $('#CostoPedido').val(totalSubtotales.toFixed(2));

            var costoEnvio = parseFloat($('#CostoEnvio').val()) || 0;
            var descuento = parseFloat($('#Descuento').val()) || 0;
            var ivaPorcentaje = 0.19;
            var iva = totalSubtotales * ivaPorcentaje;
            var totalPedido = totalSubtotales + costoEnvio - descuento + iva;

            $('#Iva').val(iva.toFixed(2));
            $('#TotalPedido').val(totalPedido.toFixed(2));
        }

        $('#CostoEnvio, #Descuento').on('input', calcularTotalPedido);
        $('#detallePedidosTable').on('DOMSubtreeModified', calcularTotalPedido);

        calcularTotalPedido();

        $('input[type="file"]').change(function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#FotoPreview').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(this.files[0]);
        });
        $(document).ready(function () {
            $('#MetodoPago').change(function () {
                var metodoPago = $(this).val();
                if (metodoPago === 'Transferencia' && 'Selecciona') {
                    $('#comprobantePagoDiv').show();
                    $('#tipoTransferenciaDiv').show();
                } else {
                    $('#comprobantePagoDiv').hide();
                    $('#tipoTransferenciaDiv').hide();
                }
            });
        });
        document.getElementById('CiudadSelect').addEventListener('change', function () {
            var ciudad = this.value;
            var costoEnvio = 0;

            if (ciudad === 'Bogota') {
                costoEnvio = 15000;
            } else if (ciudad === 'Cali') {
                costoEnvio = 9500;
            } else if (ciudad === 'Medellin') {
                costoEnvio = 12000;
            } else if (ciudad === 'Barranquilla') {
                costoEnvio = 17000;
            } else if (ciudad === 'Cartagena') {
                costoEnvio = 17000;
            } // Agrega más ciudades y sus costos de envío según sea necesario

            document.getElementById('CostoEnvio').value = costoEnvio;
        });
    </script>
        </script>
}
