@model CategoriaInsumoViewModel

@{
    ViewData["Title"] = "Categoría de Insumo";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="tbl">
    <h1>Categoría de Insumo</h1>
    <div class="row mb-3">
        <div class="col">
            <!-- Botón para abrir el modal de creación -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
                Crear Nueva <img src="/Images/agregar.png" height="24px" alt="Agregar Categoría" />
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="Table">
            <thead class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="categoriasTableBody">
                @foreach (var item in Model.Categorias)
                {
                    <tr id="categoria_@item.IdCategoria">
                        <td>@Html.DisplayFor(modelItem => item.NombreCategoria)</td>
                        <td class="text-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="estadoSwitch_@item.IdCategoria" @(item.EstadoCategoria ? "checked" : "") onchange="toggleEstado(@item.IdCategoria, this)" />
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0);" onclick="loadCategoriaInsumo(@item.IdCategoria)" class="icon-link">
                                <i class="fas fa-pencil-alt" style="color: green; font-size: 22px"></i>
                            </a>
                            <a href="#" onclick="loadDetails(@item.IdCategoria); return false;">
                                <i class="fas fa-eye" style="color: #285d86; font-size: 22px; margin-right: 20px"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para Crear Nueva Categoría de Insumo -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Crear Nueva Categoría de Insumo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group mb-3">
                        <label asp-for="NuevaCategoria.NombreCategoria" class="form-label">Nombre Categoría</label>
                        <input asp-for="NuevaCategoria.NombreCategoria" class="form-control" id="nombreCategoriaInput" />
                        <span asp-validation-for="NuevaCategoria.NombreCategoria" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Crear</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para Editar Categoría de Insumo -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Categoría de Insumo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="editCategoriaId" name="IdCategoria" />
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group mb-3">
                        <label asp-for="NuevaCategoria.NombreCategoria" class="form-label">Nombre Categoría</label>
                        <input asp-for="NuevaCategoria.NombreCategoria" class="form-control" id="editNombreCategoria" name="NombreCategoria" />
                        <span asp-validation-for="NuevaCategoria.NombreCategoria" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Detalles de Categoría de Insumo -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Detalles de Categoría de Insumo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">Nombre Categoría</dt>
                    <dd class="col-sm-8" id="nombreCategoriaDetails"></dd>
                    <dt class="col-sm-4">Estado</dt>
                    <dd class="col-sm-8">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="estadoSwitchDetails" disabled>
                            <label class="form-check-label" for="estadoSwitchDetails"></label>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            // Manejo del formulario de creación con AJAX
            $("#createForm").submit(function (event) {
                event.preventDefault();

                var nombreCategoria = $("#nombreCategoriaInput").val().trim();

                if (!nombreCategoria) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Campo Obligatorio',
                        text: 'El nombre de la categoría no puede estar vacío.'
                    });
                    $("#nombreCategoriaInput").focus();
                    return;
                }

                $.ajax({
                    url: '@Url.Action("CreateModal", "CategoriaInsumos")',
                    type: 'POST',
                    data: {
                        NombreCategoria: nombreCategoria
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: 'Categoría creada correctamente.',
                                timer: 1500
                            }).then(function () {
                                $('#createModal').modal('hide');
                                agregarCategoriaTabla(response.categoria);
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '¡Error!',
                                text: response.error
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'Hubo un problema al crear la categoría.'
                        });
                    }
                });
            });

            // Manejo del formulario de edición con AJAX
            $("#editForm").submit(function (event) {
                event.preventDefault();

                var idCategoria = $("#editCategoriaId").val();
                var nombreCategoria = $("#editNombreCategoria").val().trim();

                if (!nombreCategoria) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Campo Obligatorio',
                        text: 'El nombre de la categoría no puede estar vacío.'
                    });
                    $("#editNombreCategoria").focus();
                    return;
                }

                $.ajax({
                    url: '@Url.Action("EditModal", "CategoriaInsumos")',
                    type: 'POST',
                    data: {
                        IdCategoria: idCategoria,
                        NombreCategoria: nombreCategoria
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: 'Categoría actualizada correctamente.',
                                timer: 1500
                            }).then(function () {
                                $('#editModal').modal('hide');
                                actualizarCategoriaTabla(response.categoria);
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '¡Error!',
                                text: response.error
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'Hubo un problema al actualizar la categoría.'
                        });
                    }
                });
            });

            // Función para cargar datos en el modal de edición
            window.loadCategoriaInsumo = function (idCategoria) {
                $.ajax({
                    url: '@Url.Action("GetCategoria", "CategoriaInsumos")',
                    type: 'GET',
                    data: { idCategoria: idCategoria },
                    success: function (response) {
                        if (response.success) {
                            $("#editCategoriaId").val(response.categoria.idCategoria);
                            $("#editNombreCategoria").val(response.categoria.nombreCategoria);
                            $("#editModal").modal('show');
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '¡Error!',
                                text: response.error
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'Hubo un problema al cargar la categoría.'
                        });
                    }
                });
            };

            // Función para actualizar la fila de la categoría en la tabla
            function actualizarCategoriaTabla(categoria) {
                var estadoChecked = categoria.estadoCategoria ? 'checked' : '';

                var filaActualizada = `
                <tr id="categoria_${categoria.idCategoria}">
                    <td>${categoria.nombreCategoria}</td>
                    <td class="text-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="estadoSwitch_${categoria.idCategoria}" ${estadoChecked} onclick="toggleEstado(${categoria.idCategoria})" />
                        </div>
                    </td>
                    <td class="text-center">
                        <a href="javascript:void(0);" onclick="loadCategoriaInsumo(${categoria.idCategoria})" class="icon-link">
                            <i class="fas fa-pencil-alt" style="color: green; font-size: 22px"></i>
                        </a>
                        <a href="#" onclick="loadDetails(${categoria.idCategoria}); return false;">
                            <i class="fas fa-eye" style="color: #285d86; font-size: 22px; margin-right: 20px"></i>
                        </a>
                    </td>
                </tr>`;

                $(#categoria_${categoria.idCategoria}).replaceWith(filaActualizada);
            }

            // Función para manejar el estado de la categoría
            window.toggleEstado = function (idCategoria, checkboxElement) {
                var estado = $(checkboxElement).is(':checked'); // Obtiene el estado del checkbox (true o false)

                $.ajax({
                    url: '@Url.Action("UpdateEstado", "CategoriaInsumos")',
                    type: 'POST',
                    data: {
                        IdCategoria: idCategoria,
                        EstadoCategoria: estado
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: 'El estado de la categoría se ha actualizado correctamente.',
                                timer: 1500
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '¡Error!',
                                text: response.error
                            });

                            // Revertir el estado del checkbox en caso de error
                            $(checkboxElement).prop('checked', !estado);
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'Hubo un problema al actualizar el estado de la categoría.'
                        });

                        // Revertir el estado del checkbox en caso de error
                        $(checkboxElement).prop('checked', !estado);
                    }
                });
            };
            // Función para cargar detalles de la categoría en el modal
            window.loadDetails = function (idCategoria) {
                $.ajax({
                    url: '@Url.Action("GetCategoriaDetails", "CategoriaInsumos")',
                    type: 'GET',
                    data: { idCategoria: idCategoria },
                    success: function (response) {
                        if (response.success) {
                            $("#nombreCategoriaDetails").text(response.categoria.nombreCategoria);
                            $("#estadoSwitchDetails").prop('checked', response.categoria.estadoCategoria);
                            $("#estadoSwitchDetails").next('label').text(response.categoria.estadoCategoria ? 'Activo' : 'Inactivo');
                            $("#detailsModal").modal('show');
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '¡Error!',
                                text: response.error
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'Hubo un problema al cargar los detalles de la categoría.'
                        });
                    }
                });
            };

        });


    </script>
}